:root {
    --color-primary: #eb6424;
    --color-secondary: #0f7173;
    --color-secondary-light: #2be3e7;
    --color-tertiary: #f8c630;
    --color-light: #ffffff;
    --color-dark: #171614;
    --font-primary: 'Poppins', sans-serif;
    --font-secondary: 'Bebas Neue', cursive;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-dark);
    font-family: var(--font-primary);
    font-size: 16px;
    color: var(--color-light);
}

.header {
    padding: 2rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    color: var(--color-light);
    text-decoration: none;
    font-family: var(--font-secondary);
    font-size: 2rem;
}

.header .logo .first-name {
    color: var(--color-tertiary);
    transition: color 600ms;
}

.header .logo .last-name {
    transition: color 600ms;
}

.header .logo:hover .first-name {
    color: var(--color-light);
}

.header .logo:hover .last-name {
    color: var(--color-tertiary);
}

.header .menu .menu-list {
    display: flex;
    gap: 1rem;
    list-style: none;
}

.header .menu .menu-list .menu-list-item i {
    color: var(--color-tertiary);
    margin-right: 0.25rem;
}

.header .menu .menu-list .menu-list-item .link {
    color: var(--color-light);
    text-decoration: none;
}

.header .menu .menu-list .menu-list-item .link:hover {
    color: var(--color-secondary-light);
    transition: color 300ms;
}

@media screen and (max-width: 800px) {
    .header .logo {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        justify-content: center;
        gap: 1.5rem;
    }

    .header .menu .menu-list {
        flex-wrap: wrap;
        justify-content: center;
    }
}

#hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
}

#hero .me .intro {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

#hero .me .intro,
.position {
    font-weight: 200;
}

#hero .me .position {
    font-size: 2rem;
    line-height: 2rem;
}

#hero .me .name {
    font-family: var(--font-secondary);
    font-size: 3rem;
    line-height: 3rem;
}

#hero .me .resume {
    margin-top: 2rem;
    display: block;
    width: fit-content;
}

#hero .illustration img {
    width: 720px;
}

@media screen and (max-width: 1500px) {
    #hero .illustration img {
        width: 560px;
    }
}

@media screen and (max-width: 1024px) {
    #hero .illustration img {
        width: 380px;
    }
}

@media screen and (max-width: 768px) {
    #hero {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}

@media screen and (max-width: 400px) {
    #hero .illustration img {
        width: 100%;
    }
}

#statistics .statistics-wrapper {
    background-color: var(--color-tertiary);
    color: var(--color-dark);
    font-family: var(--font-secondary);
    font-size: 2rem;
    padding: 3rem 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

#statistics::before {
    content: '';
    display: block;
    background-color: var(--color-tertiary);
    width: 100%;
    height: 100px;
    clip-path: polygon(100% 100%, 0 50%, 0 100%);
    margin-bottom: -1px;
}

#statistics::after {
    content: '';
    display: block;
    background-color: var(--color-tertiary);
    width: 100%;
    height: 100px;
    clip-path: polygon(100% 0, 0 0, 100% 50%);
    margin-top: -1px;
}

#statistics .statistics-wrapper .statistics-row {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
}

#statistics .statistics-wrapper .statistic {
    text-align: center;
}

#statistics .statistics-wrapper .statistic i {
    color: var(--color-secondary);
    margin-bottom: 1rem;
    display: block;
    font-size: 3rem;
}

#about-me {
    position: relative;
    z-index: 1;
    padding: 2rem;
}

#about-me .description {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
}

#about-me .description .description-image {
    max-width: 400px;
    width: 100%;
}

#about-me .description .description-text {
    max-width: 1024px;
}

#about-me .description .description-text p {
    font-size: 1.125rem;
    margin-bottom: 1rem;
}

@media screen and (max-width: 960px) {
    #about-me .description {
        flex-direction: column-reverse;
    }
}

#my-experience {
    margin-top: -140px;
}

#my-experience::before {
    content: '';
    display: block;
    background-color: var(--color-tertiary);
    width: 100%;
    height: 100px;
    clip-path: polygon(100% 100%, 0 50%, 0 100%);
    margin-bottom: -1px;
}

#my-experience::after {
    content: '';
    display: block;
    background-color: var(--color-tertiary);
    width: 100%;
    height: 100px;
    clip-path: polygon(100% 0, 0 0, 100% 50%);
    margin-top: -1px;
}

#my-experience .wrapper {
    padding: 3rem 2rem;
    background-color: var(--color-tertiary);
    color: var(--color-dark);
}

#my-experience .wrapper .jobs {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
}

#my-experience .wrapper .jobs .job {
    background-color: var(--color-secondary);
    padding: 1rem 2rem;
    max-width: 320px;
    width: 100%;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#my-experience .wrapper .jobs .job .company {
    display: flex;
    gap: 0.25rem;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    align-items: center;
}

#my-experience .wrapper .jobs .job .company-name {
    color: var(--color-light);
}

#my-experience .wrapper .jobs .job .period {
    color: var(--color-tertiary);
}

#my-experience .wrapper .jobs .job .stack-title {
    font-family: var(--font-secondary);
    font-size: 1.5rem;
    color: var(--color-tertiary);
}

#my-experience .wrapper .jobs .job .stack-list {
    list-style: none;
}

#my-experience .wrapper .jobs .job .stack-list li::before {
    content: '\f121';
    margin-right: 0.5rem;
    font-family: 'Font Awesome 6 Free';
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
    font-weight: 900;
    font-size: 0.875rem;
    color: var(--color-tertiary);
}

#my-experience .wrapper .jobs .job .stack-list li {
    margin-left: 1rem;
    color: var(--color-light);
}

#my-projects {
    padding: 2rem;
}

#my-projects .projects .project {
    background-color: var(--color-light);
    border-radius: 0.5rem;
    box-shadow: rgb(255 255 255 / 35%) 0px 5px 15px;
    color: var(--color-dark);
    width: fit-content;
}

#my-projects .projects .project .image {
    max-width: 200px;
    width: 100%;
}

#my-projects .projects .project .description {
    max-width: 300px;
}

/* UTILITY CLASSES */
.cta-button {
    background-color: var(--color-secondary);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: var(--color-light);
    text-decoration: none;
}

.cta-button i {
    color: var(--color-tertiary);
    margin-right: 0.25rem;
}

.cta-button:hover {
    background-color: transparent;
    border: 1px solid var(--color-secondary);
    transition: background-color 600ms;
    color: var(--color-light) !important;
}

.section-title {
    font-family: var(--font-secondary);
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.section-title span {
    color: var(--color-tertiary);
}

.section-title-inversed {
    font-family: var(--font-secondary);
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: var(--color-dark);
}

.section-title-inversed span {
    color: var(--color-secondary);
}
